---
layout: home.layout.njk
---

<meta name="description" content="Hello World!" data-helmet />

<h1>Hello World! How are you?</h1>

<div style="width:50%">
{% highlight "js" %}
function myFunction() {
  return true;
}
{% endhighlight %}
</div>
