:where(abbr),
:where(address),
:where(area),
:where(article),
:where(aside),
:where(audio),
:where(b),
:where(base),
:where(bdi),
:where(bdo),
:where(big),
:where(blockquote),
:where(body),
:where(br),
:where(caption),
:where(cite),
:where(code),
:where(col),
:where(colgroup),
:where(data),
:where(datalist),
:where(dd),
:where(del),
:where(details),
:where(dfn),
:where(dialog),
:where(dl),
:where(dt),
:where(em),
:where(embed),
:where(fieldset),
:where(figcaption),
:where(figure),
:where(footer),
:where(form),
:where(h1),
:where(h2),
:where(h3),
:where(h4),
:where(h5),
:where(h6),
:where(head),
:where(header),
:where(hgroup),
:where(hr),
:where(i),
:where(input),
:where(ins),
:where(kbd),
:where(keygen),
:where(label),
:where(legend),
:where(li),
:where(link),
:where(main),
:where(map),
:where(mark),
:where(menu),
:where(menuitem),
:where(meta),
:where(meter),
:where(nav),
:where(object),
:where(ol),
:where(optgroup),
:where(option),
:where(output),
:where(param),
:where(picture),
:where(pre),
:where(progress),
:where(q),
:where(rp),
:where(rt),
:where(ruby),
:where(s),
:where(samp),
:where(slot),
:where(script),
:where(section),
:where(select),
:where(small),
:where(source),
:where(strong),
:where(style),
:where(sub),
:where(summary),
:where(sup),
:where(table),
:where(template),
:where(tbody),
:where(td),
:where(textarea),
:where(tfoot),
:where(th),
:where(thead),
:where(time),
:where(title),
:where(tr),
:where(track),
:where(u),
:where(ul),
:where(var),
:where(wbr),
:where(div),
:where(span),
:where(button),
:where(p),
:where(a) {
  all: unset;
  display: revert;
}

h1 {
  color: blue;
}
