@import url("_variables.css");

/* establish a layer order up-front, from lowest to highest priority */
@layer reset, defaults, typography, vendor, components, utilities, overrides;

@import url("_reset.css") layer(reset);
@import url("_typography.css") layer(typography);

body {
  --main-bg-color: pink;

  background: var(--main-bg-color);
}

.hello {
  & .world {
    color: red;
  }
}
